body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: cursive;
   
}
.search-container {
    margin-top: 20px;
}

input[type=text] {
    align-items: center;
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b81818;
}

a {
    font-family: cursive;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 0 auto;
    padding: 0px;
    background-color: #b81818;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


header {
    display: flex;
    background-color: #f3e9df;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header ul a{
    padding: 10px;
    align-items: center;
}
    

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f3e9df;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 8px;
    background: rgba(255, 235, 235, 0.301);
}

h1 { 
    background-color: aliceblue;
    text-align: center;
    margin-top: auto;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div {
    flex: 200px;
    margin: 10px 10px;
}


body {
    background-image: url(img/imagem.png);
   background-repeat: no-repeat;
   background-size: cover;


}

